asgiref==3.11.0
Django==6.0
django-cors-headers==4.3.1
django-mongodb-backend==6.0.0
djangorestframework==3.14.0
dnspython==2.8.0
pillow==11.2.1
pymongo==4.15.5
python-dotenv==1.0.1
pytz==2025.2
sqlparse==0.5.5
neo4j==5.15.0
